<div class="jumbtrom">

    <h1 class="displa-4 text-center">Clientes</h1>
    <hr>

    <div class="row">
        <div class="col-md-5">
            <h6 class="text-center">
                Agregar Cliente
            </h6>
            <app-formulario-clientes></app-formulario-clientes>
        </div>

        <div class="col-md-7">
            <h6 class="text-center">
                Lista de Clientes
            </h6>            
            <app-lista-clientes></app-lista-clientes>
        </div>
    </div>
</div>
