

<div class="jumbtrom">

    <h1 class="displa-4 text-center">Despachos</h1>
    <hr>

    <div class="row">
        <div class="col-md-5">
            <h6 class="text-center">
                Agregar Despachos
            </h6>
            <form [formGroup]="despachoForm" (ngSubmit)="guardarDespacho()">
                <div class="form-group">
                    
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                 <i class="fa-solid fa-user" [class.green-icon]="despachoForm.get('idCliente')?.valid"
                                [class.red-icon]="this.despachoForm.get('idCliente')?.invalid && this.despachoForm.get('idCliente')?.touched"></i>
                             </div>
                        </div>
                        <input type="text" class="form-control" formControlName="idCliente" placeholder="id Cliente">
                    </div>
                </div>
            
                <br>
            
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fa-regular fa-id-card" [class.green-icon]="despachoForm.get('idProducto')?.valid"
                                [class.red-icon]="this.despachoForm.get('idProducto')?.invalid && this.despachoForm.get('idProducto')?.touched"></i>
                             </div>
                        </div>
                        <input type="text" class="form-control" maxlength="10" formControlName="idProducto" placeholder="id Producto">
                    </div>
                </div>
            
                <br>      
            
               <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                 <i class="fa-regular fa-phone" [class.green-icon]="despachoForm.get('cantidad')?.valid"
                                [class.red-icon]="this.despachoForm.get('cantidad')?.invalid && this.despachoForm.get('cantidad')?.touched"></i>
                             </div>
                        </div>
                        <input type="text" class="form-control" formControlName="cantidad" laceholder="cantidad" placeholder="cantidad">
                    </div>
                </div>
            
                <br>
              
              
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fa-solid fa-calendar-days" [class.green-icon]="despachoForm.get('fechaRegistro')?.valid"
                                [class.red-icon]="this.despachoForm.get('fechaRegistro')?.invalid && this.despachoForm.get('fechaRegistro')?.touched"></i>                     
                            </div>
                        </div>
                        <input type="text" class="form-control" maxlength="10" formControlName="fechaRegistro" placeholder="fecha Registro">
                    </div>
                </div>
            
                <br/>
    
    
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                               <i class="fa-solid fa-calendar-days" [class.green-icon]="despachoForm.get('fechaEntrega')?.valid"
                                [class.red-icon]="this.despachoForm.get('fechaEntrega')?.invalid && this.despachoForm.get('fechaEntrega')?.touched"></i> 
                            </div>
                        </div>
                        <input type="text" class="form-control" formControlName="fechaEntrega" placeholder="fecha Entrega">
                    </div>
                </div>
            
                <br>
 
            <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                 <i class="fa-solid fa-hand-holding-dollar" [class.green-icon]="despachoForm.get('precio')?.valid"
                                [class.red-icon]="this.despachoForm.get('precio')?.invalid && this.despachoForm.get('precio')?.touched"></i> 
                            </div>
                        </div>
                        <input type="text" class="form-control" formControlName="precio" placeholder="precio">
                    </div>
                </div>
            
                <br>
                

   <!--              <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fa-regular fa-list-ol" [class.green-icon]="despachoForm.get('numeroTransporte')?.valid"
                                [class.red-icon]="this.despachoForm.get('numeroTransporte')?.invalid && this.despachoForm.get('numeroTransporte')?.touched"></i> 
                            </div>
                        </div>
                        <input type="text" class="form-control" formControlName="numeroTransporte" placeholder="numero Transporte">
                    </div>
                </div>
            
                <br>   -->

   <!--  

         

               <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fa-solid fa-person-military-pointing" [class.green-icon]="despachoForm.get('numeroGuia')?.valid"
                                [class.red-icon]="this.despachoForm.get('precio')?.invalid && this.despachoForm.get('numeroGuia')?.touched"></i> 
                            </div>
                        </div>
                        <input type="text" class="form-control" formControlName="numeroGuia" placeholder="numero Guia">
                    </div>
                </div>  -->
            
                <br>  

                <div class="form-grup">
                    <button class="btn btn-success btn-lg btn-block" type="submit"><i class="fa-solid fa-database"></i> Aceptar</button>
                </div>
                
             </form>

 <!--                 
                
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fa-duotone fa-paper-plane" [class.green-icon]="despachoForm.get('idTipoEnvio')?.valid"
                                [class.red-icon]="this.despachoForm.get('precio')?.invalid && this.despachoForm.get('idTipoEnvio')?.touched"></i> 
                            </div>
                        </div>
                        <input type="text" class="form-control" formControlName="idTipoEnvio" placeholder="idTipoEnvio">
                    </div>
                </div>
            
                <br>   

                          
                
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fa-solid fa-envelope" [class.green-icon]="despachoForm.get('idLugarEntrega')?.valid"
                                [class.red-icon]="this.despachoForm.get('precio')?.invalid && this.despachoForm.get('idLugarEntrega')?.touched"></i> 
                            </div>
                        </div>
                        <input type="text" class="form-control" formControlName="idLugarEntrega" placeholder="id LugarEntrega">
                    </div>
                </div>
            
                <br>                   

            
                <div class="form-grup">
                    <button class="btn btn-success btn-lg btn-block" [disabled]="despachoForm.invalid" type="submit"><i class="fa-solid fa-database"></i> Aceptar</button>
                </div>
            
            
            </form> -->
        </div>

        <div class="col-md-7">
            <h6 class="text-center">
                Lista de Clientes
            </h6>            
            <app-lista-despachos></app-lista-despachos>
        </div>
    </div>
</div>
