<form >
    <div class="form-group">
        
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fa-solid fa-user"></i>
                </div>
            </div>
            <input type="text" class="form-control" placeholder="Nombre Cliente">
        </div>
    </div>

    <br>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
            </div>
            <input type="text" class="form-control" placeholder="Identificación">
        </div>
    </div>

    <br>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fa-solid fa-envelope"></i>
                </div>
            </div>
            <input type="text" class="form-control" placeholder="Mail">
        </div>
    </div>

    <br>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fa-solid fa-phone"></i>
                </div>
            </div>
            <input type="text" class="form-control" placeholder="Teléfono">
        </div>
    </div>

    <br>

    <div class="form-grup">
        <button class="btn btn-success btn-lg btn-block" type="submit"><i class="fa-solid fa-database"></i> Aceptar</button>
    </div>


</form>
